src/conf/xml-resources/web-service-references/UsuarioWS/wsdl/localhost_8080/WebDMServices/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://service.market.direct/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.market.direct/">

<xs:element name="UsuarioException" type="tns:UsuarioException" />

<xs:element name="altaUsuario" type="tns:altaUsuario" />

<xs:element name="altaUsuarioResponse" type="tns:altaUsuarioResponse" />

<xs:element name="cambiarMailing" type="tns:cambiarMailing" />

<xs:element name="cambiarMailingResponse" type="tns:cambiarMailingResponse" />

<xs:element name="existeCliente" type="tns:existeCliente" />

<xs:element name="existeClienteResponse" type="tns:existeClienteResponse" />

<xs:element name="existeEmail" type="tns:existeEmail" />

<xs:element name="existeEmailResponse" type="tns:existeEmailResponse" />

<xs:element name="getClientes" type="tns:getClientes" />

<xs:element name="getClientesResponse" type="tns:getClientesResponse" />

<xs:element name="getDataCliente" type="tns:getDataCliente" />

<xs:element name="getDataClienteResponse" type="tns:getDataClienteResponse" />

<xs:element name="getDataProveedor" type="tns:getDataProveedor" />

<xs:element name="getDataProveedorResponse" type="tns:getDataProveedorResponse" />

<xs:element name="getProveedores" type="tns:getProveedores" />

<xs:element name="getProveedoresResponse" type="tns:getProveedoresResponse" />

<xs:element name="getUsuarios" type="tns:getUsuarios" />

<xs:element name="getUsuariosResponse" type="tns:getUsuariosResponse" />

<xs:element name="login" type="tns:login" />

<xs:element name="loginResponse" type="tns:loginResponse" />

<xs:element name="modificarCliente" type="tns:modificarCliente" />

<xs:element name="modificarClienteResponse" type="tns:modificarClienteResponse" />

<xs:element name="usuarioComproProducto" type="tns:usuarioComproProducto" />

<xs:element name="usuarioComproProductoResponse" type="tns:usuarioComproProductoResponse" />

<xs:complexType name="getDataProveedor">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataProveedorResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataUsuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0" />
<xs:element name="compania" type="xs:string" minOccurs="0" />
<xs:element name="email" type="xs:string" minOccurs="0" />
<xs:element name="fechaNacimiento" type="xs:dateTime" minOccurs="0" />
<xs:element name="imagen" type="xs:base64Binary" minOccurs="0" />
<xs:element name="listaCompras" type="tns:dataOC" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="mailing" type="xs:boolean" />
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="password" type="xs:string" minOccurs="0" />
<xs:element name="tipoUsu" type="xs:string" minOccurs="0" />
<xs:element name="webLink" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataOC">
<xs:sequence>
<xs:element name="estados" type="tns:dataEstadoOC" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="fecha" type="xs:dateTime" minOccurs="0" />
<xs:element name="habilitada" type="xs:boolean" />
<xs:element name="lineas" type="tns:dataLineaOC" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="numero" type="xs:int" />
<xs:element name="precio_total" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataEstadoOC">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0" />
<xs:element name="fecha" type="xs:dateTime" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataLineaOC">
<xs:sequence>
<xs:element name="cantidad" type="xs:int" />
<xs:element name="id" type="xs:long" minOccurs="0" />
<xs:element name="producto" type="tns:dataProducto" minOccurs="0" />
<xs:element name="totalLinea" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataProducto">
<xs:sequence>
<xs:element name="dataCategorias" type="tns:dataCategoria" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="dataEspecificacion" type="tns:dataEspecificacionProducto" minOccurs="0" />
<xs:element name="dataProveedor" type="tns:dataUsuario" minOccurs="0" />
<xs:element name="habilitado" type="xs:boolean" />
<xs:element name="listDataComentarios" type="tns:dataComentario" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="listaDataReclamos" type="tns:dataReclamo" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="referencia" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataCategoria">
<xs:sequence>
<xs:element name="contieneProductos" type="xs:boolean" />
<xs:element name="dataProductos" type="tns:dataProducto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="id" type="xs:int" />
<xs:element name="nombre" type="xs:string" minOccurs="0" />
<xs:element name="parent" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataEspecificacionProducto">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0" />
<xs:element name="especificacion" type="xs:string" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="imagenes" type="xs:base64Binary" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="precio" type="xs:double" />
<xs:element name="puntaje" type="tns:dataPuntajeProducto" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataPuntajeProducto">
<xs:sequence>
<xs:element name="cliente" type="tns:dataUsuario" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="puntaje" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataComentario">
<xs:sequence>
<xs:element name="comentario" type="xs:string" minOccurs="0" />
<xs:element name="fechaComentario" type="xs:dateTime" minOccurs="0" />
<xs:element name="id" type="xs:int" />
<xs:element name="nickname" type="xs:string" minOccurs="0" />
<xs:element name="parent" type="xs:int" />
<xs:element name="respuestas" type="tns:dataComentario" nillable="true" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="dataReclamo">
<xs:sequence>
<xs:element name="fechaReclamo" type="xs:dateTime" minOccurs="0" />
<xs:element name="nickCliente" type="xs:string" minOccurs="0" />
<xs:element name="textoRec" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getClientes">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getClientesResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeEmail">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeEmailResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaUsuario">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:string" minOccurs="0" />
<xs:element name="arg4" type="xs:dateTime" minOccurs="0" />
<xs:element name="arg5" type="xs:string" minOccurs="0" />
<xs:element name="arg6" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="arg7" type="xs:string" minOccurs="0" />
<xs:element name="arg8" type="xs:string" minOccurs="0" />
<xs:element name="arg9" type="xs:string" minOccurs="0" />
<xs:element name="arg10" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="altaUsuarioResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="UsuarioException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="existeClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getUsuarios">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataCliente">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getDataClienteResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProveedores">
<xs:sequence />
</xs:complexType>

<xs:complexType name="getProveedoresResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuarioComproProducto">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuarioComproProductoResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="tns:dataUsuario" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarMailing">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
<xs:element name="arg1" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="cambiarMailingResponse">
<xs:sequence />
</xs:complexType>

<xs:complexType name="modificarCliente">
<xs:sequence>
<xs:element name="arg0" type="tns:dataUsuario" minOccurs="0" />
<xs:element name="arg1" type="xs:int" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="modificarClienteResponse">
<xs:sequence />
</xs:complexType>
</xs:schema>