src/conf/xml-resources/web-service-references/UsuarioWS/wsdl/localhost_8080/WebDMServices/UsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.market.direct/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.market.direct/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.market.direct/" schemaLocation="http://localhost:8080/WebDMServices/UsuarioWS?xsd=1" />
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login" />
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse" />
</message>
<message name="UsuarioException">
<part name="fault" element="tns:UsuarioException" />
</message>
<message name="getDataCliente">
<part name="parameters" element="tns:getDataCliente" />
</message>
<message name="getDataClienteResponse">
<part name="parameters" element="tns:getDataClienteResponse" />
</message>
<message name="modificarCliente">
<part name="parameters" element="tns:modificarCliente" />
</message>
<message name="modificarClienteResponse">
<part name="parameters" element="tns:modificarClienteResponse" />
</message>
<message name="altaUsuario">
<part name="parameters" element="tns:altaUsuario" />
</message>
<message name="altaUsuarioResponse">
<part name="parameters" element="tns:altaUsuarioResponse" />
</message>
<message name="getDataProveedor">
<part name="parameters" element="tns:getDataProveedor" />
</message>
<message name="getDataProveedorResponse">
<part name="parameters" element="tns:getDataProveedorResponse" />
</message>
<message name="cambiarMailing">
<part name="parameters" element="tns:cambiarMailing" />
</message>
<message name="cambiarMailingResponse">
<part name="parameters" element="tns:cambiarMailingResponse" />
</message>
<message name="existeCliente">
<part name="parameters" element="tns:existeCliente" />
</message>
<message name="existeClienteResponse">
<part name="parameters" element="tns:existeClienteResponse" />
</message>
<message name="existeEmail">
<part name="parameters" element="tns:existeEmail" />
</message>
<message name="existeEmailResponse">
<part name="parameters" element="tns:existeEmailResponse" />
</message>
<message name="usuarioComproProducto">
<part name="parameters" element="tns:usuarioComproProducto" />
</message>
<message name="usuarioComproProductoResponse">
<part name="parameters" element="tns:usuarioComproProductoResponse" />
</message>
<message name="getClientes">
<part name="parameters" element="tns:getClientes" />
</message>
<message name="getClientesResponse">
<part name="parameters" element="tns:getClientesResponse" />
</message>
<message name="getProveedores">
<part name="parameters" element="tns:getProveedores" />
</message>
<message name="getProveedoresResponse">
<part name="parameters" element="tns:getProveedoresResponse" />
</message>
<message name="getUsuarios">
<part name="parameters" element="tns:getUsuarios" />
</message>
<message name="getUsuariosResponse">
<part name="parameters" element="tns:getUsuariosResponse" />
</message>
<portType name="UsuarioWS">
<operation name="login">
<input wsam:Action="http://service.market.direct/UsuarioWS/loginRequest" message="tns:login" />
<output wsam:Action="http://service.market.direct/UsuarioWS/loginResponse" message="tns:loginResponse" />
<fault message="tns:UsuarioException" name="UsuarioException" wsam:Action="http://service.market.direct/UsuarioWS/login/Fault/UsuarioException" />
</operation>
<operation name="getDataCliente">
<input wsam:Action="http://service.market.direct/UsuarioWS/getDataClienteRequest" message="tns:getDataCliente" />
<output wsam:Action="http://service.market.direct/UsuarioWS/getDataClienteResponse" message="tns:getDataClienteResponse" />
<fault message="tns:UsuarioException" name="UsuarioException" wsam:Action="http://service.market.direct/UsuarioWS/getDataCliente/Fault/UsuarioException" />
</operation>
<operation name="modificarCliente">
<input wsam:Action="http://service.market.direct/UsuarioWS/modificarClienteRequest" message="tns:modificarCliente" />
<output wsam:Action="http://service.market.direct/UsuarioWS/modificarClienteResponse" message="tns:modificarClienteResponse" />
</operation>
<operation name="altaUsuario">
<input wsam:Action="http://service.market.direct/UsuarioWS/altaUsuarioRequest" message="tns:altaUsuario" />
<output wsam:Action="http://service.market.direct/UsuarioWS/altaUsuarioResponse" message="tns:altaUsuarioResponse" />
<fault message="tns:UsuarioException" name="UsuarioException" wsam:Action="http://service.market.direct/UsuarioWS/altaUsuario/Fault/UsuarioException" />
</operation>
<operation name="getDataProveedor">
<input wsam:Action="http://service.market.direct/UsuarioWS/getDataProveedorRequest" message="tns:getDataProveedor" />
<output wsam:Action="http://service.market.direct/UsuarioWS/getDataProveedorResponse" message="tns:getDataProveedorResponse" />
</operation>
<operation name="cambiarMailing">
<input wsam:Action="http://service.market.direct/UsuarioWS/cambiarMailingRequest" message="tns:cambiarMailing" />
<output wsam:Action="http://service.market.direct/UsuarioWS/cambiarMailingResponse" message="tns:cambiarMailingResponse" />
</operation>
<operation name="existeCliente">
<input wsam:Action="http://service.market.direct/UsuarioWS/existeClienteRequest" message="tns:existeCliente" />
<output wsam:Action="http://service.market.direct/UsuarioWS/existeClienteResponse" message="tns:existeClienteResponse" />
</operation>
<operation name="existeEmail">
<input wsam:Action="http://service.market.direct/UsuarioWS/existeEmailRequest" message="tns:existeEmail" />
<output wsam:Action="http://service.market.direct/UsuarioWS/existeEmailResponse" message="tns:existeEmailResponse" />
</operation>
<operation name="usuarioComproProducto">
<input wsam:Action="http://service.market.direct/UsuarioWS/usuarioComproProductoRequest" message="tns:usuarioComproProducto" />
<output wsam:Action="http://service.market.direct/UsuarioWS/usuarioComproProductoResponse" message="tns:usuarioComproProductoResponse" />
<fault message="tns:UsuarioException" name="UsuarioException" wsam:Action="http://service.market.direct/UsuarioWS/usuarioComproProducto/Fault/UsuarioException" />
</operation>
<operation name="getClientes">
<input wsam:Action="http://service.market.direct/UsuarioWS/getClientesRequest" message="tns:getClientes" />
<output wsam:Action="http://service.market.direct/UsuarioWS/getClientesResponse" message="tns:getClientesResponse" />
</operation>
<operation name="getProveedores">
<input wsam:Action="http://service.market.direct/UsuarioWS/getProveedoresRequest" message="tns:getProveedores" />
<output wsam:Action="http://service.market.direct/UsuarioWS/getProveedoresResponse" message="tns:getProveedoresResponse" />
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://service.market.direct/UsuarioWS/getUsuariosRequest" message="tns:getUsuarios" />
<output wsam:Action="http://service.market.direct/UsuarioWS/getUsuariosResponse" message="tns:getUsuariosResponse" />
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="login">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UsuarioException">
<soap:fault name="UsuarioException" use="literal" />
</fault>
</operation>
<operation name="getDataCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UsuarioException">
<soap:fault name="UsuarioException" use="literal" />
</fault>
</operation>
<operation name="modificarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="altaUsuario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UsuarioException">
<soap:fault name="UsuarioException" use="literal" />
</fault>
</operation>
<operation name="getDataProveedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cambiarMailing">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="existeCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="existeEmail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="usuarioComproProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="UsuarioException">
<soap:fault name="UsuarioException" use="literal" />
</fault>
</operation>
<operation name="getClientes">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getProveedores">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://localhost:8080/WebDMServices/UsuarioWS" />
</port>
</service>
</definitions>