src/conf/xml-resources/web-service-references/ProductoWS/wsdl/localhost_8080/WebDMServices/ProductoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.market.direct/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.market.direct/" name="ProductoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.market.direct/" schemaLocation="http://localhost:8080/WebDMServices/ProductoWS?xsd=1" />
</xsd:schema>
</types>
<message name="buscarProductoPorRef">
<part name="parameters" element="tns:buscarProductoPorRef" />
</message>
<message name="buscarProductoPorRefResponse">
<part name="parameters" element="tns:buscarProductoPorRefResponse" />
</message>
<message name="altaProducto">
<part name="parameters" element="tns:altaProducto" />
</message>
<message name="altaProductoResponse">
<part name="parameters" element="tns:altaProductoResponse" />
</message>
<message name="ProductoException">
<part name="fault" element="tns:ProductoException" />
</message>
<message name="getProductListPorProveedor">
<part name="parameters" element="tns:getProductListPorProveedor" />
</message>
<message name="getProductListPorProveedorResponse">
<part name="parameters" element="tns:getProductListPorProveedorResponse" />
</message>
<message name="buscarProductoNombreSimilar">
<part name="parameters" element="tns:buscarProductoNombreSimilar" />
</message>
<message name="buscarProductoNombreSimilarResponse">
<part name="parameters" element="tns:buscarProductoNombreSimilarResponse" />
</message>
<message name="buscarProductoPorName">
<part name="parameters" element="tns:buscarProductoPorName" />
</message>
<message name="buscarProductoPorNameResponse">
<part name="parameters" element="tns:buscarProductoPorNameResponse" />
</message>
<message name="getReclamosPorProducto">
<part name="parameters" element="tns:getReclamosPorProducto" />
</message>
<message name="getReclamosPorProductoResponse">
<part name="parameters" element="tns:getReclamosPorProductoResponse" />
</message>
<message name="agregarComentario">
<part name="parameters" element="tns:agregarComentario" />
</message>
<message name="agregarComentarioResponse">
<part name="parameters" element="tns:agregarComentarioResponse" />
</message>
<message name="ingresarReclamo">
<part name="parameters" element="tns:ingresarReclamo" />
</message>
<message name="ingresarReclamoResponse">
<part name="parameters" element="tns:ingresarReclamoResponse" />
</message>
<message name="buscarProductoPorId">
<part name="parameters" element="tns:buscarProductoPorId" />
</message>
<message name="buscarProductoPorIdResponse">
<part name="parameters" element="tns:buscarProductoPorIdResponse" />
</message>
<message name="modificarProducto">
<part name="parameters" element="tns:modificarProducto" />
</message>
<message name="modificarProductoResponse">
<part name="parameters" element="tns:modificarProductoResponse" />
</message>
<message name="modificarProductoConReferenciaModificada">
<part name="parameters" element="tns:modificarProductoConReferenciaModificada" />
</message>
<message name="modificarProductoConReferenciaModificadaResponse">
<part name="parameters" element="tns:modificarProductoConReferenciaModificadaResponse" />
</message>
<portType name="ProductoWS">
<operation name="buscarProductoPorRef">
<input wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorRefRequest" message="tns:buscarProductoPorRef" />
<output wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorRefResponse" message="tns:buscarProductoPorRefResponse" />
</operation>
<operation name="altaProducto">
<input wsam:Action="http://service.market.direct/ProductoWS/altaProductoRequest" message="tns:altaProducto" />
<output wsam:Action="http://service.market.direct/ProductoWS/altaProductoResponse" message="tns:altaProductoResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/altaProducto/Fault/ProductoException" />
</operation>
<operation name="getProductListPorProveedor">
<input wsam:Action="http://service.market.direct/ProductoWS/getProductListPorProveedorRequest" message="tns:getProductListPorProveedor" />
<output wsam:Action="http://service.market.direct/ProductoWS/getProductListPorProveedorResponse" message="tns:getProductListPorProveedorResponse" />
</operation>
<operation name="buscarProductoNombreSimilar">
<input wsam:Action="http://service.market.direct/ProductoWS/buscarProductoNombreSimilarRequest" message="tns:buscarProductoNombreSimilar" />
<output wsam:Action="http://service.market.direct/ProductoWS/buscarProductoNombreSimilarResponse" message="tns:buscarProductoNombreSimilarResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/buscarProductoNombreSimilar/Fault/ProductoException" />
</operation>
<operation name="buscarProductoPorName">
<input wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorNameRequest" message="tns:buscarProductoPorName" />
<output wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorNameResponse" message="tns:buscarProductoPorNameResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorName/Fault/ProductoException" />
</operation>
<operation name="getReclamosPorProducto">
<input wsam:Action="http://service.market.direct/ProductoWS/getReclamosPorProductoRequest" message="tns:getReclamosPorProducto" />
<output wsam:Action="http://service.market.direct/ProductoWS/getReclamosPorProductoResponse" message="tns:getReclamosPorProductoResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/getReclamosPorProducto/Fault/ProductoException" />
</operation>
<operation name="agregarComentario">
<input wsam:Action="http://service.market.direct/ProductoWS/agregarComentarioRequest" message="tns:agregarComentario" />
<output wsam:Action="http://service.market.direct/ProductoWS/agregarComentarioResponse" message="tns:agregarComentarioResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/agregarComentario/Fault/ProductoException" />
</operation>
<operation name="ingresarReclamo">
<input wsam:Action="http://service.market.direct/ProductoWS/ingresarReclamoRequest" message="tns:ingresarReclamo" />
<output wsam:Action="http://service.market.direct/ProductoWS/ingresarReclamoResponse" message="tns:ingresarReclamoResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/ingresarReclamo/Fault/ProductoException" />
</operation>
<operation name="buscarProductoPorId">
<input wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorIdRequest" message="tns:buscarProductoPorId" />
<output wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorIdResponse" message="tns:buscarProductoPorIdResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/buscarProductoPorId/Fault/ProductoException" />
</operation>
<operation name="modificarProducto">
<input wsam:Action="http://service.market.direct/ProductoWS/modificarProductoRequest" message="tns:modificarProducto" />
<output wsam:Action="http://service.market.direct/ProductoWS/modificarProductoResponse" message="tns:modificarProductoResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/modificarProducto/Fault/ProductoException" />
</operation>
<operation name="modificarProductoConReferenciaModificada">
<input wsam:Action="http://service.market.direct/ProductoWS/modificarProductoConReferenciaModificadaRequest" message="tns:modificarProductoConReferenciaModificada" />
<output wsam:Action="http://service.market.direct/ProductoWS/modificarProductoConReferenciaModificadaResponse" message="tns:modificarProductoConReferenciaModificadaResponse" />
<fault message="tns:ProductoException" name="ProductoException" wsam:Action="http://service.market.direct/ProductoWS/modificarProductoConReferenciaModificada/Fault/ProductoException" />
</operation>
</portType>
<binding name="ProductoWSPortBinding" type="tns:ProductoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="buscarProductoPorRef">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="altaProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="getProductListPorProveedor">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="buscarProductoNombreSimilar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="buscarProductoPorName">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="getReclamosPorProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="agregarComentario">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="ingresarReclamo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="buscarProductoPorId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="modificarProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
<operation name="modificarProductoConReferenciaModificada">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="ProductoException">
<soap:fault name="ProductoException" use="literal" />
</fault>
</operation>
</binding>
<service name="ProductoWS">
<port name="ProductoWSPort" binding="tns:ProductoWSPortBinding">
<soap:address location="http://localhost:8080/WebDMServices/ProductoWS" />
</port>
</service>
</definitions>