src/conf/xml-resources/web-service-references/OrdenCompraWS/wsdl/localhost_8080/WebDMServices/OrdenCompraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.market.direct/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.market.direct/" name="OrdenCompraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.market.direct/" schemaLocation="http://localhost:8080/WebDMServices/OrdenCompraWS?xsd=1" />
</xsd:schema>
</types>
<message name="altaOrdenCompra">
<part name="parameters" element="tns:altaOrdenCompra" />
</message>
<message name="altaOrdenCompraResponse">
<part name="parameters" element="tns:altaOrdenCompraResponse" />
</message>
<message name="OCException">
<part name="fault" element="tns:OCException" />
</message>
<message name="getDataOC">
<part name="parameters" element="tns:getDataOC" />
</message>
<message name="getDataOCResponse">
<part name="parameters" element="tns:getDataOCResponse" />
</message>
<message name="cancelarOrdenCompra">
<part name="parameters" element="tns:cancelarOrdenCompra" />
</message>
<message name="cancelarOrdenCompraResponse">
<part name="parameters" element="tns:cancelarOrdenCompraResponse" />
</message>
<message name="getOrdenesCompra">
<part name="parameters" element="tns:getOrdenesCompra" />
</message>
<message name="getOrdenesCompraResponse">
<part name="parameters" element="tns:getOrdenesCompraResponse" />
</message>
<portType name="OrdenCompraWS">
<operation name="altaOrdenCompra">
<input wsam:Action="http://service.market.direct/OrdenCompraWS/altaOrdenCompraRequest" message="tns:altaOrdenCompra" />
<output wsam:Action="http://service.market.direct/OrdenCompraWS/altaOrdenCompraResponse" message="tns:altaOrdenCompraResponse" />
<fault message="tns:OCException" name="OCException" wsam:Action="http://service.market.direct/OrdenCompraWS/altaOrdenCompra/Fault/OCException" />
</operation>
<operation name="getDataOC">
<input wsam:Action="http://service.market.direct/OrdenCompraWS/getDataOCRequest" message="tns:getDataOC" />
<output wsam:Action="http://service.market.direct/OrdenCompraWS/getDataOCResponse" message="tns:getDataOCResponse" />
</operation>
<operation name="cancelarOrdenCompra">
<input wsam:Action="http://service.market.direct/OrdenCompraWS/cancelarOrdenCompraRequest" message="tns:cancelarOrdenCompra" />
<output wsam:Action="http://service.market.direct/OrdenCompraWS/cancelarOrdenCompraResponse" message="tns:cancelarOrdenCompraResponse" />
<fault message="tns:OCException" name="OCException" wsam:Action="http://service.market.direct/OrdenCompraWS/cancelarOrdenCompra/Fault/OCException" />
</operation>
<operation name="getOrdenesCompra">
<input wsam:Action="http://service.market.direct/OrdenCompraWS/getOrdenesCompraRequest" message="tns:getOrdenesCompra" />
<output wsam:Action="http://service.market.direct/OrdenCompraWS/getOrdenesCompraResponse" message="tns:getOrdenesCompraResponse" />
</operation>
</portType>
<binding name="OrdenCompraWSPortBinding" type="tns:OrdenCompraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="altaOrdenCompra">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="OCException">
<soap:fault name="OCException" use="literal" />
</fault>
</operation>
<operation name="getDataOC">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelarOrdenCompra">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="OCException">
<soap:fault name="OCException" use="literal" />
</fault>
</operation>
<operation name="getOrdenesCompra">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OrdenCompraWS">
<port name="OrdenCompraWSPort" binding="tns:OrdenCompraWSPortBinding">
<soap:address location="http://localhost:8080/WebDMServices/OrdenCompraWS" />
</port>
</service>
</definitions>