src/conf/xml-resources/web-service-references/CategoriaWS/wsdl/localhost_8080/WebDMServices/CategoriaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.market.direct/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.market.direct/" name="CategoriaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://service.market.direct/" schemaLocation="http://localhost:8080/WebDMServices/CategoriaWS?xsd=1" />
</xsd:schema>
</types>
<message name="getCategoriaPorNombre">
<part name="parameters" element="tns:getCategoriaPorNombre" />
</message>
<message name="getCategoriaPorNombreResponse">
<part name="parameters" element="tns:getCategoriaPorNombreResponse" />
</message>
<message name="CategoryException">
<part name="fault" element="tns:CategoryException" />
</message>
<message name="getProductosPorNombreCategoria">
<part name="parameters" element="tns:getProductosPorNombreCategoria" />
</message>
<message name="getProductosPorNombreCategoriaResponse">
<part name="parameters" element="tns:getProductosPorNombreCategoriaResponse" />
</message>
<message name="getCategorias">
<part name="parameters" element="tns:getCategorias" />
</message>
<message name="getCategoriasResponse">
<part name="parameters" element="tns:getCategoriasResponse" />
</message>
<message name="getCategoriasDeProducto">
<part name="parameters" element="tns:getCategoriasDeProducto" />
</message>
<message name="getCategoriasDeProductoResponse">
<part name="parameters" element="tns:getCategoriasDeProductoResponse" />
</message>
<message name="altaCategoria">
<part name="parameters" element="tns:altaCategoria" />
</message>
<message name="altaCategoriaResponse">
<part name="parameters" element="tns:altaCategoriaResponse" />
</message>
<portType name="CategoriaWS">
<operation name="getCategoriaPorNombre">
<input wsam:Action="http://service.market.direct/CategoriaWS/getCategoriaPorNombreRequest" message="tns:getCategoriaPorNombre" />
<output wsam:Action="http://service.market.direct/CategoriaWS/getCategoriaPorNombreResponse" message="tns:getCategoriaPorNombreResponse" />
<fault message="tns:CategoryException" name="CategoryException" wsam:Action="http://service.market.direct/CategoriaWS/getCategoriaPorNombre/Fault/CategoryException" />
</operation>
<operation name="getProductosPorNombreCategoria">
<input wsam:Action="http://service.market.direct/CategoriaWS/getProductosPorNombreCategoriaRequest" message="tns:getProductosPorNombreCategoria" />
<output wsam:Action="http://service.market.direct/CategoriaWS/getProductosPorNombreCategoriaResponse" message="tns:getProductosPorNombreCategoriaResponse" />
<fault message="tns:CategoryException" name="CategoryException" wsam:Action="http://service.market.direct/CategoriaWS/getProductosPorNombreCategoria/Fault/CategoryException" />
</operation>
<operation name="getCategorias">
<input wsam:Action="http://service.market.direct/CategoriaWS/getCategoriasRequest" message="tns:getCategorias" />
<output wsam:Action="http://service.market.direct/CategoriaWS/getCategoriasResponse" message="tns:getCategoriasResponse" />
<fault message="tns:CategoryException" name="CategoryException" wsam:Action="http://service.market.direct/CategoriaWS/getCategorias/Fault/CategoryException" />
</operation>
<operation name="getCategoriasDeProducto">
<input wsam:Action="http://service.market.direct/CategoriaWS/getCategoriasDeProductoRequest" message="tns:getCategoriasDeProducto" />
<output wsam:Action="http://service.market.direct/CategoriaWS/getCategoriasDeProductoResponse" message="tns:getCategoriasDeProductoResponse" />
<fault message="tns:CategoryException" name="CategoryException" wsam:Action="http://service.market.direct/CategoriaWS/getCategoriasDeProducto/Fault/CategoryException" />
</operation>
<operation name="altaCategoria">
<input wsam:Action="http://service.market.direct/CategoriaWS/altaCategoriaRequest" message="tns:altaCategoria" />
<output wsam:Action="http://service.market.direct/CategoriaWS/altaCategoriaResponse" message="tns:altaCategoriaResponse" />
<fault message="tns:CategoryException" name="CategoryException" wsam:Action="http://service.market.direct/CategoriaWS/altaCategoria/Fault/CategoryException" />
</operation>
</portType>
<binding name="CategoriaWSPortBinding" type="tns:CategoriaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCategoriaPorNombre">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="CategoryException">
<soap:fault name="CategoryException" use="literal" />
</fault>
</operation>
<operation name="getProductosPorNombreCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="CategoryException">
<soap:fault name="CategoryException" use="literal" />
</fault>
</operation>
<operation name="getCategorias">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="CategoryException">
<soap:fault name="CategoryException" use="literal" />
</fault>
</operation>
<operation name="getCategoriasDeProducto">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="CategoryException">
<soap:fault name="CategoryException" use="literal" />
</fault>
</operation>
<operation name="altaCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="CategoryException">
<soap:fault name="CategoryException" use="literal" />
</fault>
</operation>
</binding>
<service name="CategoriaWS">
<port name="CategoriaWSPort" binding="tns:CategoriaWSPortBinding">
<soap:address location="http://localhost:8080/WebDMServices/CategoriaWS" />
</port>
</service>
</definitions>